.idea
.pycache
.xml
.json.gz
*.parquet
*.parquet*
.git
.aws
*.pyc
eeauditor/processor/outputs/*.svg
eeauditor/processor/outputs/*.html
LOCAL_external_providers.toml
output.json
output_ocsf_v1-4-0_events.json
gcp_cred.json