awscli==1.33.11
boto3==1.34.108
click==8.1.7
detect-secrets==1.4.0
google-api-python-client>=2.88.0
matplotlib==3.9.0
oci>=2.104.0
pandas==2.2.0
pluginbase==1.0.1
psycopg2-binary==2.9.9
pymongo==4.6.1
pysnow<=0.7.17
python3-nmap==1.6.0
tomli==2.0.1
vt-py==0.18.0